<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="" aria-label="Логотип">
        <img src="img/logo.svg" alt="Logo">
      </a>
      <nav class="header__nav">
        <ul class="list-reset header__list">
          <li class="header__item">
            <a class="header__link" href="#about">О нас</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#project">Проекты</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#work">Материалы</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#comment">Отзывы</a>
          </li>
        </ul>
      </nav>
      <a class="header__phone" href="tel:+79999999999">+7 999 999 99 99</a>
      <button class="btn-reset header__burger" aria-label="Открыть меню">
        <span class="header__burger-line"></span>
      </button>
      <div class="header__overlay"></div>
    </div>
  </div>
</header>
