<section class="section-project" id="project">
  <div class="container section-project__container">
    <h2 class="title section-project__title">Проекты</h2>
    <div class="swiper">
      <div class="swiper-wrapper section-project__wrapper">
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-1.webp" type="image/webp">
            <img class="section-project__image" src="img/project-1.jpg" loading="lazy" width="445" height="580" alt="Проект 1 - Тумба под телевизор">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Тумба под телевизор</p>
          </div>
        </div>
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-2.webp" type="image/webp">
            <img class="section-project__image" src="img/project-2.jpg" loading="lazy" width="445" height="580" alt="Проект 2 - Кухня">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Кухня</p>
          </div>
        </div>
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-3.webp" type="image/webp">
            <img class="section-project__image" src="img/project-3.jpg" loading="lazy" width="445" height="580" alt="Проект 3 - Гостиная">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Гостиная</p>
          </div>
        </div>
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-4.webp" type="image/webp">
            <img class="section-project__image" src="img/project-4.jpg" loading="lazy" width="445" height="580" alt="Проект 4 - Навесная тумба">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Навесная тумба</p>
          </div>
        </div>
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-5.webp" type="image/webp">
            <img class="section-project__image" src="img/project-5.jpg" loading="lazy" width="445" height="580" alt="Проект 5 - Спальня">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Спальня</p>
          </div>
        </div>
        <div class="swiper-slide section-project__content">
          <a class="section-project__link" href="" aria-label="Открыть проект"></a>
          <picture class="section-project__picture">
            <source srcset="img/project-6.webp" type="image/webp">
            <img class="section-project__image" src="img/project-6.jpg" loading="lazy" width="445" height="580" alt="Проект 6 - Комод">
          </picture>
          <div class="section-project__desc">
            <p class="text section-project__name">Комод</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
