.section-work {
  padding: var(--indent) 0;

  @include mobile {
    padding: var(--indent-mobile) 0;
  }

  &__wrapper {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);

    @include tablet {
      grid-template-columns: repeat(8, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 20px;
    }
  }

  &__left {
    grid-column: 4 span;
  }

  &__right {
    grid-column: 7 / 6 span;

    @include tablet {
      grid-column: 5 / 4 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__subtitle {
    margin-bottom: 44px;
    max-width: 325px;

    @include mobile {
      margin-bottom: 28px;
    }
  }

  &__item {
    @include mb(24px);

    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid var(--black);
    padding-bottom: 24px;

    @include mobile {
      @include mb(20px);

      grid-template-columns: repeat(4, 1fr);
      padding-bottom: 20px;
      row-gap: 16px;
    }
  }

  &__name {
    grid-column: 3 span;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--dark-color);

    @include tablet {
      font-size: 26px;
    }

    @include small-tablet {
      font-size: 18px;
    }

    @include mobile {
      grid-column: 4 span;
      font-size: 24px;
    }
  }

  &__content {
    grid-column: 3 span;

    @include mobile {
      grid-column: 4 span;
    }
  }
}
