<section class="section-about" id="about">
  <div class="container">
    <div class="section-about__wrapper">
      <div class="section-about__left">
        <h2 class="title section-about__title">
          <span class="section-about__title--desktop">Более 5 лет создаем мебель для вашего комфорта</span>
          <span class="section-about__title-mobile">О компании</span>
        </h2>
      </div>
      <div class="section-about__right">
        <div class="section-about__content">
          <p class="text section-about__text">Мы — команда профессионалов, которые могут произвести любую мебель для вашего проекта, а также найти производственное решение любой задумки.</p>
          <p class="text section-about__text">Наша основная цель — реализовывать самые смелые задумки, и делать это качественно и аккуратно.</p>
          <p class="text section-about__text">В качестве материалов мы используем натуральные — стекло, дерево, бетон, камень, металл и эпоксидную смолу.</p>
        </div>
        <ul class="list-reset section-about__list">
          <li class="section-about__item">
            <span class="section-about__time">1 год</span>
            <p class="section-about__specification">гарантии на всю продукцию</p>
          </li>
          <li class="section-about__item">
            <span class="section-about__time">300 +</span>
            <p class="section-about__specification">выполненных проектов</p>
          </li>
          <li class="section-about__item">
            <span class="section-about__time">15 дней</span>
            <p class="section-about__specification">срок производства</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
