<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <p class="footer__desc footer__desc--indent">© <span class="footer__year">2023</span> Aveji</p>
        <p class="footer__desc">Все права защищены</p>
      </div>
      <div class="footer__center">
        <p class="centered footer__privacy"><a class="footer__link" href="">Политика конфеденциальности <span class="footer__slash">/</span> Оплата и доставка</a></p>
      </div>
      <ul class="list-reset footer__right">
        <li class="footer__desc">
          <a class="footer__link" href="">
            Вконтакте
          </a>
        </li>
        <li class="footer__desc">
          <a class="footer__link" href="">
            Телеграм
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
