<section class="section-hero">
  <div class="container">
    <div class="section-hero__wrapper">
      <h1 class="section-hero__title">Эксклюзивная и нестандартная мебель для дома</h1>
      <p class="section-hero__subtitle">Мы можем произвести любую мебель для вашего проекта и найти производственное решение любой задумки.</p>
      <a class="section-hero__btn" href="#order">Заказать проект</a>
      <picture class="section-hero__picture section-hero__picture--sm">
        <source srcset="img/hero-room_1.webp" type="image/webp">
        <img class="section-hero__image section-hero__image--sm" src="img/hero-room_1.jpg" loading="lazy" width="329" height="493" alt="Room-1">
      </picture>
      <picture class="section-hero__picture section-hero__picture--bg">
        <source srcset="img/hero-room_2_320.webp" media="(max-width: 576px)" type="image/webp">
        <source srcset="img/hero-room_2.webp" type="image/webp">
        <source srcset="img/hero-room_2_320.jpg" media="(max-width: 576px)">
        <img class="section-hero__image section-hero__image--bg" src="img/hero-room_2.jpg" loading="lazy" width="678" height="809" alt="Room-2">
      </picture>
    </div>
  </div>
</section>
