<section class="section-order" id="order">
  <div class="container">
    <div class="section-order__wrapper">
      <div class="section-order__left">
        <picture class="section-order__picture">
          <source srcset="img/order.webp" type="image/webp">
          <img class="section-order__image" src="img/order.jpg" loading="lazy" width="562" height="566" alt="Гостиная">
        </picture>
      </div>
      <div class="section-order__right">
        <h2 class="title section-order__title">Хотите заказать проект?</h2>
        <p class="text section-order__subtitle">Оставьте заявку, и мы вам перезвоним</p>
        <form class="section-order__form" action="#" method="POST">
          <label class="section-order__label" for="name">
            <input class="input-reset section-order__input section-order__input--name" id="name" type="text" name="name" placeholder="Имя">
          </label>
          <label class="section-order__label" for="email">
            <input class="input-reset section-order__input section-order__input--email" id="email" type="email" name="email" placeholder="E-mail">
          </label>
          <label class="section-order__label" for="phone">
            <input class="input-reset section-order__input section-order__input--phone" id="phone" type="tel" name="phone" placeholder="Телефон">
          </label>
          <button class="btn-reset centered section-order__btn">Отправить заявку</button>
        </form>
        <div class="section-order__icons">
          <a class="section-order__link" href="" aria-label="Загрузите в App Store">
            <img src="img/appStore.svg" alt="App Store">
          </a>
          <a class="section-order__link" href="" aria-label="Доступно в Google Play">
            <img src="img/googlePlay.svg" alt="Google Play">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
