<section class="section-work" id="work">
  <div class="container">
    <div class="section-work__wrapper">
      <div class="section-work__left">
        <h2 class="title section-work__title">Как мы работаем</h2>
      </div>
      <div class="section-work__right">
        <p class="text section-work__subtitle">Алгоритм работы с нами для удобства и понимания проекта</p>
        <ul class="list-reset section-work__list">
          <li class="section-work__item">
            <h3 class="section-work__name">Идея</h3>
            <p class="text section-work__content">Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или другой референс. А мы думаем над тем, как это реализовать, делаем технические чертежи и предлагаем решения по материалам.</p>
          </li>
          <li class="section-work__item">
            <h3 class="section-work__name">Техническое задание</h3>
            <p class="text section-work__content">Вместе с клиентом формулируем корректное ТЗ, которое включает в себя визуализацию изделия, эскизный чертёж с габаритами, информацию по материалам и отделке, срок реализации проекта и другие обязательные пункты.</p>
          </li>
          <li class="section-work__item">
            <h3 class="section-work__name">Коммерческое предложение</h3>
            <p class="text section-work__content">Предпочтительно используем натуральные материалы. Но любую смету можем оптимизировать, упростив материалы или конструктив. Сможем подстроиться под бюджет клиента и согласуем коммерческое предложение</p>
          </li>
          <li class="section-work__item">
            <h3 class="section-work__name">Подготовка рабочего проекта</h3>
            <p class="text section-work__content">Создадим рабочую документацию и чертежи. Это фундамент качественного производства. На этом этапе утверждаем с клиентом все габариты и материалы, чертежи и приступаем к производству.</p>
          </li>
          <li class="section-work__item">
            <h3 class="section-work__name">Производство и монтаж</h3>
            <p class="text section-work__content">Производство занимает от 15 рабочих дней, в зависимости от сложности и объёма. Монтажом тоже занимаемся самостоятельно. Ведь мы это сделаем быстро и аккуратно.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
